.projects{
  background-color: #f2f2f2;
  padding: 60px 0;
}

.projects__container{
  overflow: hidden;
}

.projects__tittle{
  font-size: 2em;
  line-height: 34px;
  margin-bottom: 40px;
  font-weight: 600;
  text-align: center;
  color: #323068;
}

.projects__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}