.main .container{
  overflow: visible;
}

@media screen and (max-width: 800px){
  header .menu{
    text-align: center;
  }

  .main .projects .project{
    width: 46%;
  }
}

@media screen and (max-width: 500px){

  header .text-container .text{
    padding: 20px 40px;
  }

  header .text-container .text .name{
    font-size: 2em;
  }

  header .text-container .text .job{
    font-size: 1em;
  }

  footer .socials .container{
    flex-wrap: wrap;
    padding: 20px 0;
  }

}
